<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- keywords -->
    <meta name="keywords" content="GLC, Guilongchao, Zhu" />

    <!-- website description -->
    <meta name="description"
        content="Gui Long Chao, the 3D side-scrolling action game set in the vibrant Kowloon Street" />

    <!-- Author -->
    <meta name="author" content="Kafka" />

    <!-- Google Fonts ------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Headers -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Body -->
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Highlight -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">



    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- tab icon -->
    <link rel="icon" type="image/x-icon" href="../assets/images/icons/Zhu-icon.png" />

    <!-- Font Awesome -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/styles/styles.css">

    <link rel="stylesheet" href="../assets/styles/themes.css">

    <!-- Custom JavaScript -->
    <script src="../assets/scripts/script.js" async></script>

    <!-- Title -->
    <title>GLC Website Project</title>

    <title>Document</title>
</head>
<body>

    <div class="banner-sml highlight">
        <div class="character-group">
            <div class="card-row">
                <div class="character-card-sm">
                    <img src="../assets/images/Characters/Zui-Sheng-mod.png">
                </div>
                <div class="character-card-sm">
                    <img src="../assets/images/Characters/Zhu-mod.png">
                </div>
                <div class="character-card-sm">
                    <img src="../assets/images/Characters/Yu-Ying-mod.png">
                </div>
            </div>
            <div>
                <p class="label-red">- Zui Sheng + Zhu + Yu Ying</p>
            </div>
        </div>
        <hr>
        <div class="character-group">                        
            <div class="card-row">
                <div class="character-card-sm">
                    <img src="../assets/images/Characters/Chen-Xiao-mod.png">
                </div>
                <div class="character-card-sm">
                    <img src="../assets/images/Characters/Zhu-mod.png">
                </div>
                <div class="character-card-sm">
                    <img src="../assets/images/Characters/Yu-Bing-mod.png">
                </div>
            </div>
            <div>
                <p class="label-red">- Chen Xiao + Zhu + Yu Bing</p>
            </div>
        </div>

    </div>
    
</body>
</html>